<h1>
  Accountant Crystal Ball Results
</h1>

<dl>
  <dt>
    Your Education Score
  </dt>
  <dd>
    <%= @magic_education_score.round(2) %>
  </dd>

  <dt>
    Your age Score
  </dt>
  <dd>
    <%= @magic_age_score %>
  </dd>

  <dt>
    Your Experience Score
  </dt>
  <dd>
    <%= @magic_experience_score.round(2) %>
  </dd>

  <dt>
    Your Quantitative Predictive Score
  </dt>
  <dd>
    <%= @magic_sat_score.round(2) %>
  </dd>

  <dt>
    Your Numerology Score
  </dt>
  <dd>
    <%= @magic_lucky_score.round(2) %>
  </dd>

  <dt>
    <h3>Your Total Success Score</h3>
  </dt>
  <dd>
    <%= @success_score.round(2) %>
  </dd>

  <dt>
    <h3>Our assessment of your score..</h3>
  </dt>
  <dd>
    <%= if @success_score < 7
        p "Maybe this number cruncher game is not the best career for you, try something a little less quant heavy"
        else
        p "You are a natural, keep on keeping on down this bean counter road! "
        end %>
        <a href="https://www.accounting.com/careers/public-accounting/#:~:text=Career%20paths%20in%20accounting%20can,systems%20analyst%20or%20compliance%20professional.">Check this resource out</a>

  </dd>


<div><button>
<a href="/accountant/new">
  Try predict another career
</a>
<button></div>